@media (max-width: 1200px) {
    .block__wrapper {
        grid-template-columns: repeat(2, 1fr);
    }

    .block__product:nth-child(3n) {
        grid-column: 1/3;
    }


}

@media (max-width: 730px) {
    .block__wrapper {
        grid-template-columns: 1fr;
    }

    .block__product {
        min-height: 400px;
    }

    .block__product:nth-child(3n) {
        grid-column: auto;
    }

    .product {
        padding: 25px 25px;
    }

    .block__product:hover .product__border {
        display: block;
        position: absolute;
        width: 100%;
        height: 4px;
        background-color: #D91667;
        top: 0;
        right: 103px;
        transform: rotate(-45deg);
    } 
}